@charset "utf-8";
*{
    box-sizing: border-box;
}

body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    'header header'
    'main side'
    'footer footer';
}
header, main, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
header{
    color:#fff;
    background-color: black;
    grid-area: header;
}
main{
    background-color: #fff;
    grid-area: main;
}
aside{
    background-color: orange;
    grid-area:side;
}
footer{
    color:#fff;
    background-color: black;
    grid-area: footer;
}
.container {
    grid-template-columns: repeat(3, 150px);
}